@import "~styles/helpers";

.tabList {
  margin: 0 auto;
}

.tabItem {
  background-color: $white;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-color: mix($accent2-color, lighten($gray-dark, 50%), 50%);
  border-width: 1px 0 0 1px;
  border-radius: em(4px) em(4px) 0 0;

  &:last-child {
    border-right-width: 1px;
  }

  &__active {
    composes: tabItem;
    border-color: lighten($gray-dark, 50%);
    border-width: 1px;
    border-bottom-color: $white;
  }

  &__rmLeft {
    composes: tabItem;
    border-left-width: 0;
  }

  &__rmRight {
    composes: tabItem;
    border-right-width: 0;
  }
}

.tabLink {
  display: block;
  padding: em(10px) em(20px);
}
