@import "~styles/helpers";

.container {
  @include ease(0.25s, "standard", font-size);
  @include make-container;
  max-width: get($container-max-widths, xl);
  padding-top: em(15px);
  padding-bottom: em(15px);
}

.row {
  @include make-row;
}

.column {
  @include make-col(12);
  @include ease(0.15s, "fun", width);
  padding-top: rem(15px);
  padding-bottom: rem(15px);

  @include media-breakpoint-up(lg) {
    @include make-col-span(6);
  }

  @include media-breakpoint-up(xl) {
    @include make-col-span(4);
  }
}

.overlay {
  @include clearfix;
  @include ease(0.2s, "in", "opacity");
  opacity: 0;
  display: table;
  background-color: rgba($black, 0.38);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: em(4px);
}

.overlayItem {
  width: 25%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: em(25px) 0;
  color: rgba($white, 0.54);
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    color: $white;
  }
}

.articleHeading {
  @include clearfix;
  display: block;
  overflow: hidden;
  height: em(26px);
}

.articleHeadingLeft {
  float: left;
}

.articleHeadingRight {
  text-align: right;
  float: right;
}

.countGroup {
  margin-right: em(10px);
  color: rgba($text-color, 0.87);

  &:last-child {
    margin-right: 0;
  }
}

.count {
  vertical-align: middle;
  font-weight: 400;
}

.countIcon {
  vertical-align: middle;
}

.title {
  margin: 0;
  display: inline-block;
}

.titleLink {
  color: $text-color;
}

.letterSpace {
  margin: 0 em(10px);
}

.user {
  font-weight: 600;
  font-family: $heading-font-family;

  &:hover {
    color: $accent-color;
  }
}

.articleBody {
  @include clearfix;
  position: relative;
  border-radius: em(4px);
  box-shadow: 0 0 0 1px rgba($black, 0.12);
  height: em(75px);
  overflow: hidden;

  @include media-breakpoint-up(xl) {
    height: em(70px);
  }
}

.paletteColor {
  position: relative;
  min-height: 1px;
  padding-left: em(15px);
  padding-right: em(15px);
  float: left;
  width: 20%;
  height: 100%;

  &:first-child {
    border-top-left-radius: em(4px);
    border-bottom-left-radius: em(4px);
  }

  &:last-child {
    border-top-right-radius: em(4px);
    border-bottom-right-radius: em(4px);
  }
}
