@import "~styles/helpers";

.container {
  padding: em(15px) em(15px) em(45px);
  max-width: $medium;
  margin: 0 auto;
}

.pageHeading {
  padding-top: em(15px);
  padding-bottom: em(30px);
  display: block;
}

.pageHeader {
  margin: 0;
  padding: 0;
}
