@import "~styles/helpers";

.container {
  @include make-container;
  padding-top: em(15px);
  padding-bottom: em(30px);
  max-width: get($container-max-widths, md);
  margin: 0 auto;
}

.pageHeading {
  padding-top: em(15px);
  padding-bottom: em(30px);
  display: block;
}

.pageHeader {
  margin: 0;
  padding: 0;
}
