@import "~styles/helpers";

.app {
  @include ease(0.25s, "standard", padding);
  height: 100%;
  position: relative;
  padding-top: map-get($header, height);

  @include media-breakpoint-up(md) {
    padding-top: map-get($header, md-height);
  }
}

.contentWrap {
  @include ease(0.2s, "standard", opacity);
  min-height: 100%;
  margin-bottom: -(map-get($footer, height));

  &::after {
    content: "";
    display: block;
    height: map-get($footer, height);
  }
}

.sidebarOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-sidebar-overlay;
}
