@import "~styles/helpers";

.c__link {
  color: $text-color;

  &:hover {
    color: $accent-color;
  }
}

.c__header {
  @include clearfix;
  @include add-shadow-0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  padding: map-get($header, padding);
  overflow: hidden;
  min-width: map-get($container, min);
  z-index: $z-header;

  @include media-breakpoint-up(md) {
    @include fun;
    position: fixed;
  }
}

.header {
  composes: c__header;
  height: map-get($header, height);

  @include media-breakpoint-up(md) {
    padding: map-get($header, md-padding);
    height: map-get($header, md-height);
  }
}

.header__condensed {
  @include media-breakpoint-up(md) {
    composes: c__header;
    height: map-get($header, c-height);

    .title {
      font-size: map-get($font-size, h3);
    }

    .description {
      display: none;
    }
  }
}

.link {
  composes: c__link;
}

// Sections
// ==================
.c__section {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Left Section
// ===================
.sectionLeft {
  composes: c__section;
  float: left;
}

.title {
  margin: 0;
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: map-get($font-size, h1);
  }
}

.description {
  margin: 0;
}

// Right Section
// ===================
.sectionRight {
  composes: c__section;
  float: right;
}

.navLink {
  composes: c__link;
  vertical-align: middle;
}

.alignMiddle {
  vertical-align: middle;
}

// Bottom Section
// ====================
.sectionBottom {
  float: left;
  width: 100%;
}

// Button
// =====================
.btn {
  composes: c__link;
  vertical-align: middle;
}

.menuText {
  vertical-align: middle;
  padding-right: em(15px);
}

.menuIcon {
  font-size: map-get($font-size, h3);
  vertical-align: middle;
}
