@import "~styles/helpers";

.sidebar {
  @include ease(0.25s, "standard", all);
  outline: 0;
  position: fixed;
  top: map-get($header, height);
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: $z-sidebar;
  transform: translate3d(100%, 0, 0);
  overflow-y: auto;
  direction: rtl;
  box-shadow: 1px 0 1px rgba($black, 0.7);
  max-width: 80%;

  @include media-breakpoint-up(sm) {
    max-width: auto;
  }

  @include media-breakpoint-up(md) {
    top: map-get($header, md-height);
  }
}

.navList {
  padding: em(30px) em(15px) em(30px) em(40px);

  @include media-breakpoint-up(sm) {
    padding-left: em(60px);
  }

  @include media-breakpoint-up(md) {
    padding-left: em(75px);
  }

  @include media-breakpoint-up(lg) {
    padding-left: em(90px);
  }
}

.navItem {
  padding: em(10px) 0;
}

.navLink {
  color: $text-color;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  font-weight: 700;
  font-size: map-get($font-size, h1);
  font-family: $heading-font-family;

  &:hover {
    color: $accent-color;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
}
