@import "~styles/helpers";

.sidebar {
  @include ease(0.25s, "standard", all);
  position: fixed;
  top: map-get($header, height);
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: $z-sidebar;
  transform: translate3d(100%, 0, 0);
  overflow-y: auto;
  direction: rtl;
  box-shadow: 1px 0 1px rgba($black, 0.7);
  max-width: 80%;

  @include media($small) {
    max-width: auto;
  }

  @include media($medium) {
    top: map-get($header, md-height);
  }
}

.sidebarNav {
  padding: em(30px) em(15px) em(30px) em(30px);

  @include media($small) {
    padding-left: em(60px);
  }

  @include media($medium) {
    padding-left: em(75px);
  }
}

.sidebarLink {
  color: $text-color;
  padding: em(10px) 0;
  display: block;

  &:hover {
    color: $accent-color;
  }
}

.sidebarHeading {
  margin: 0;
  line-height: 1;
  font-weight: 700;
  font-size: map-get($font-size, h1);

  @include media($medium) {
    font-size: map-get($font-size, jumbo);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
}
