@import "~styles/helpers";

.container {
  @include make-container;
  @include add-shadow-0(inset);
  height: map-get($palette-bar, height);
  line-height: map-get($palette-bar, height);
  background-color: $white;
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
  }
}

.row {
  @include make-row;
}

.column {
  @include make-col(4);
  vertical-align: middle;
}

.icon,
.text {
  vertical-align: middle;
}

.anchor {
  color: $text-color;
  display: block;

  &:hover {
    color: $accent-color;
  }
}

.icon {
  margin-right: em(5px);
}
