@import "functions";

//
// Spacing
// =========================================== //

$spacing-unit:                          30px;
$spacing: (
  base:                                 rem($spacing-unit),
  half:                                 rem($spacing-unit) / 2,
  double:                               rem($spacing-unit) * 2
);


//
// Grid
// =========================================== //

$gutter:                                em(15px);
$columns:                               12;


//
// Opacity
// =========================================== //

$primary:                               0.8;
$secondary:                             0.54;
$hint:                                  0.38;
$disabled:                              0.12;

$l-primary:                             0.9;
$l-secondary:                           0.7;
$l-hint:                                0.5;


//
// Colors
// =========================================== //

$gray: (
  50:                                   #fafafa,
  100:                                  #f5f5f5,
  200:                                  #eeeeee,
  300:                                  #e0e0e0,
  400:                                  #bdbdbd,
  500:                                  #9e9e9e,
  600:                                  #757575,
  700:                                  #616161,
  800:                                  #424242,
  900:                                  #212121
);

$white:                                 #fff;
$black:                                 #000;

$gray-light:                            #fafafa;
$gray-dark:                             #413f3e;

$text-color:                            $gray-dark;
$background-color:                      $gray-light;
$body-background:                       $white;
$base-color:                            #6e462c;
$accent-color:                          #e85a63;
$accent2-color:                         #70b7ba;

//
// Typography
// =========================================== //

$ratio:                                 1.618;
$global-font-size:                      100%;

$base-font-family:                      "Open Sans", "sans-serif";
$base-font-size-sm:                     14px;
$base-font-size:                        16px;
$base-font-size-lg:                     18px;
$base-font-weight:                      300;
$base-line-height:                      1.6;

$squash-line-height:                    1.1;

$heading-font-family:                   "Asap", "sans-serif";
$heading-line-height:                   1.4;
$heading-font-weight:                   300;

$bold-font-weight:                      600;

$small-font-size:                       0.875em;   // ~14px
$lead-font-size:                        1.25em;    // ~20px

$font-size: (
  jumbo:                                em(round($base-font-size * 4.236)),    // ~68px
  h1:                                   em(round($base-font-size * 3)),        // ~48px
  h2:                                   em(round($base-font-size * 2.618)),    // ~42px
  h3:                                   em(round($base-font-size * 1.854)),    // ~30px
  h4:                                   em(round($base-font-size * 1.618)),    // ~26px
  h5:                                   em(round($base-font-size * 1.146)),    // ~18px
  h6:                                   em($base-font-size),                   // ~16px
);


//
// Sizes
// =========================================== //

$footer: (
  height:                               em(30px),
  padding:                              em(15px),
);

$header: (
  height:                               em(100px),
  padding:                              em(15px),
  md-height:                            em(110px),
  md-padding:                           em(30px),
  c-height:                             em(75px),
);

$container: (
  min:                                  320px,
                                        // Bootstrap variable
  max:                                  map-get($container-max-widths, xxl),
  read:                                 80%,
);

$toggler: (
  btn-width:                            em(52px),
  btn-height:                           em(45px),
  btn-padding:                          em(13px),
  bar-thickness:                        em(2px),
  bar-spacing:                          em(5px),
);

$palette-bar: (
  height:                               em(35px),
);

$palette-container: (
  c-height:                             map-get($header, height) + map-get($palette-bar, height) + em(5px),
  c-height-md:                          map-get($header, md-height) + map-get($palette-bar, height) + em(5px),
);

//
// Z-index
// =========================================== //

$z-snackbar:                            9000;
$z-modal:                               8000;
$z-header:                              7000;
$z-sidebar:                             6000;
$z-sidebar-overlay:                     5000;
$z-footer:                              4000;
$z-toolbar:                             3000;


//
// Transitions
// =========================================== //

$ease: (
  standard:                             cubic-bezier(0.645, 0.045, 0.355, 1),
  in:                                   cubic-bezier(0.550, 0.085, 0.680, 0.530),
  out:                                  cubic-bezier(0.250, 0.460, 0.450, 0.940),
  fun:                                  cubic-bezier(0.680, -0.550, 0.265, 1.550),
);

//
// Breakpoints
// =========================================== //
