@import "~styles/helpers";

.container {
  display: table;
  table-layout: fixed;
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: $white;

  @include media-breakpoint-up(md) {
    width: auto;
    background: 0;
  }
}

.input {
  @include ease(0.2s, "standard", background-color);
  width: 100%;
  margin-bottom: em(10px);
  padding: em(14px);
  border: 1px solid lighten($gray-dark, 60%);
  border-radius: em(4px);

  &:focus {
    background-color: lighten($gray-dark, 70%);
  }
}

.formBtn {
  @include btn-lg;
  width: 100%;
  margin-bottom: em(10px);
  font-weight: 600;

  &__primary {
    @include btn-ease($accent-color);
    composes: formBtn;
    color: $white;

    &:disabled {
      cursor: not-allowed;
      background-color: lighten($accent-color, 10%);
    }
  }

  &__secondary {
    composes: formBtn;
    color: $accent-color;
    margin-bottom: 0;
  }
}
