@import "~styles/helpers";

.container {
  @include clearfix;
  background-color: $white;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lighten($gray-dark, 50%);
  border-radius: 0 em(4px) em(4px);
  padding: em(30px);
}

.btnGroup {
  @include clearfix;
  padding-top: em(15px);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.formBtn {
  @include btn-lg;
  @include btn-ease($accent-color);
  font-weight: 600;
  margin-left: auto;
  color: $white;

  &:disabled {
    cursor: not-allowed;
    background-color: lighten($accent-color, 10%);
  }
}

.deactivateBtn {
  margin-right: auto;
  font-size: $small-font-size;
  font-weight: 600;
  color: $accent2-color;
  cursor: pointer;
  display: inline-block;
}
