@import "~styles/helpers";

.c__link {
  color: $text-color;

  &:hover {
    color: $accent-color;
  }
}

.c__header {
  @include clearfix;
  @include ease(0.25s, "fun", all);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid map-get($gray, 300);
  padding: map-get($header, padding);
  overflow: hidden;
  min-width: map-get($container, min);
  z-index: $z-header;
}

.header {
  composes: c__header;
  height: map-get($header, height);

  @include media($medium) {
    padding: map-get($header, md-padding);
    height: map-get($header, md-height);
  }
}

.header__condensed {
  composes: c__header;
  height: map-get($header, c-height);
  box-shadow: inset 0 -1px 1px -1px map-get($gray, 300);

  .sectionLeft {
    line-height: map-get($header, c-height) - (map-get($header, padding) * 2);
  }

  .sectionRight {
    line-height: map-get($header, c-height) - (map-get($header, padding) * 2);
  }

  .title {
    line-height: inherit;
    font-size: map-get($font-size, h3);
  }

  .description {
    display: none;
  }
}

.link {
  composes: c__link;
}

// Left Section
// ===================
.sectionLeft {
  float: left;
  @include ease(0.25s, "fun", line-height);
  line-height: map-get($header, height) / 2 - map-get($header, padding);
}

.title {
  margin: 0;
  line-height: 1;
}

.description {
  margin: 0;
}

// Right Section
// ===================
.sectionRight {
  float: right;
  @include ease(0.25s, "fun", line-height);
  line-height: map-get($header, height) - (map-get($header, padding) * 2);
}

.navLink {
  composes: c__link;
  vertical-align: middle;
}

.alignMiddle {
  vertical-align: middle;
}

// Bottom Section
// ====================
.sectionBottom {
  float: left;
  width: 100%;
}

// Button
// =====================
.btn {
  composes: c__link;
  vertical-align: middle;
}

.menuText {
  vertical-align: middle;
  padding-right: em(15px);
}

.menuIcon {
  font-size: map-get($font-size, h3);
  vertical-align: middle;
}
