@import "~styles/helpers";

.footer {
  @include ease(0.25s, "standard", font-size);
  @include add-shadow-0(inset);
  background-color: $white;
  height: map-get($footer, height);
  line-height: map-get($footer, height);
  z-index: $z-footer;
}

.container {
  @include make-container;
  text-align: right;
}

.link {
  color: $accent-color;
}
