@import "~styles/helpers";

.footer {
  @include clearfix;
  @include ease(font-size, 0.25s, "ease-in");
  background-color: $white;
  height: map-get($footer, height);
  padding-left: map-get($footer, padding);
  padding-right: map-get($footer, padding);
  line-height: map-get($footer, height);
  box-shadow: inset 0 1px 1px -1px map-get($gray, 300);
  z-index: $z-footer;
}

.container {
  @include clearfix;
  display: block;
  font-size: $small-font-size;
}

.spanLeft {
  float: left;
}

.spanRight {
  float: right;
  color: $accent2-color;
}
