@import "~styles/helpers";

.formGroup {
  margin-bottom: em(15px);
}

.formLegend {
  cursor: default;
  font-size: $small-font-size;
  font-family: $heading-font-family;
  font-weight: 400;
  color: rgba($text-color, 0.54);
  margin-bottom: em(10px);
}

.inputContainer {
  position: relative;
}

.svgIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: em(7px);
  font-size: em(20px);
  color: rgba($text-color, 0.54);

  &__textarea {
    composes: svgIcon;
    top: em(15px);
    bottom: unset;
  }
}

.svgBtnRight {
  position: absolute;
  top: em(8px);
  right: em(7px);
  font-size: em(20px);
  color: rgba($text-color, 0.54);
  padding: 0 em(7px);
  border-left: 1px solid rgba($text-color, 0.25);

  &:hover {
    color: $accent2-color;
  }
}

.svgIconRight {
  vertical-align: em(-3px);
}

.formInput {
  @include ease(0.2s, "standard", background-color);
  width: 100%;
  padding: em(15px);
  border: 1px solid lighten($gray-dark, 60%);
  border-radius: em(4px);
  text-indent: em(21px);

  &:focus {
    box-shadow: 0 0 em(3px) $accent2-color;
    border-color: $accent2-color;

    + .svgIcon {
      color: $accent2-color;
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: rgba($text-color, 0.54);
    background-color: darken($gray-light, 0.5%);
  }
}

.formTextArea {
  composes: formInput;
  text-indent: 0;
  padding-left: em(35px);
}

.submitBtn {
  @include btn;
  @include btn-lg;
  @include btn-ease($accent-color);
  float: right;
  color: $white;
  font-weight: 600;
}
