@import "~styles/helpers";

.c__input {
  display: block;
  cursor: pointer;
  opacity: 0.4;
  text-transform: uppercase;
  background: 0;
  outline: 0;
  border: 0;
  width: rem(125px);

  @include media-breakpoint-up(md) {
    width: 100%;
    text-align: center;
  }

  &:hover {
    opacity: 0.87;
  }
}

.main {
  @include ease(0.25s, "standard", font-size);
  height: calc(100vh - #{map-get($header, height)} - #{map-get($footer, height)});

  @include media-breakpoint-up(md) {
    height: calc(100vh - #{map-get($header, md-height)} - #{map-get($footer, height)});
  }
}

.paletteList {
  @include clearfix;
  height: 100%;
  position: relative;
}

.paletteListItem {
  position: relative;
  height: 20%;
  min-height: em(100px, 14px);
  width: 100%;
  display: flex;
  align-items: center;
  padding: $gutter;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    align-items: flex-start;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 20%;
    min-height: em(350px);

    &:first-child {
      left: 0;
    }

    &:nth-child(2) {
      left: 20%;
    }

    &:nth-child(3) {
      left: 40%;
    }

    &:nth-child(4) {
      left: 60%;
    }

    &:nth-child(5) {
      left: 80%;
    }
  }
}

.colorGroup {
  margin: 0;
  line-height: 1;

  @include media-breakpoint-up(md) {
    width: 100%;
    vertical-align: baseline;
  }
}

.colorName {
  display: block;
  opacity: 0.4;
  text-transform: uppercase;
  margin-bottom: em(15px);
  font-weight: 400;
  white-space: nowrap;
}

.hexInput {
  composes: c__input;
  font-family: $heading-font-family;
  letter-spacing: em(0.25px);
  font-size: map-get($font-size, h4);
  font-weight: 700;
  margin-bottom: em(5px);
}

.rgbInput {
  composes: c__input;
  font-family: $base-font-family;
  font-size: map-get($font-size, h6);
  font-weight: 700;
}

.optionList {
  margin-left: auto;
  display: inline-block;

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: em(15px);
    left: 0;
    right: 0;
  }
}

.optionItem {
  display: inline-block;
  margin-right: em(30px);

  &:last-child {
    margin-right: 0;
  }

  @include media-breakpoint-up(md) {
    display: list-item;
    margin-right: 0;
    margin-bottom: em(15px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.optionAction {
  font-size: map-get($font-size, h4);
  opacity: 0.38;
  cursor: pointer;
  color: inherit;

  &:hover {
    opacity: 1;
  }

  @include media-breakpoint-up(md) {
    font-size: map-get($font-size, h5);
  }
}

.optionIcon {
  vertical-align: middle;

  @include media-breakpoint-up(md) {
    margin-right: em(15px);
  }
}

.optionText {
  display: none;

  @include media-breakpoint-up(md) {
    display: inline-block;
    vertical-align: middle;
  }
}
