@import "~styles/helpers";

.main {
  @include ease(0.25s, "standard", font-size);
  position: absolute;
  top: map-get($header, height);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - #{map-get($palette-container, c-height)});

  @include media-breakpoint-up(md) {
    top: map-get($header, md-height);
    height: calc(100% - #{map-get($palette-container, c-height-md)});
  }
}

.paletteList {
  @include clearfix;
  height: 100%;
  position: relative;
}

.paletteListItem {
  position: relative;
  height: 20%;
  min-height: rem(110px);
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    align-items: flex-start;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 20%;

    &:first-child {
      left: 0;
    }

    &:nth-child(2) {
      left: 20%;
    }

    &:nth-child(3) {
      left: 40%;
    }

    &:nth-child(4) {
      left: 60%;
    }

    &:nth-child(5) {
      left: 80%;
    }
  }
}

.colorGroup {
  margin: 0;
  line-height: 1;
  padding: em(15px);

  @include media-breakpoint-up(md) {
    width: 100%;
    vertical-align: baseline;
  }
}

.colorName {
  display: block;
  opacity: 0.4;
  text-transform: uppercase;
  margin-bottom: em(15px);
  font-weight: 400;
  white-space: nowrap;
}

.c__input {
  display: block;
  cursor: pointer;
  opacity: 0.4;
  text-transform: uppercase;
  background: 0;
  outline: 0;
  border: 0;
  width: rem(125px);
  font-weight: 700;

  @include media-breakpoint-up(md) {
    width: 100%;
    text-align: center;
  }

  &:hover {
    opacity: 0.87;
  }
}

.hexInput {
  composes: c__input;
  font-family: $heading-font-family;
  letter-spacing: em(0.25px);
  font-size: map-get($font-size, h4);
  margin-bottom: em(5px);
}

.rgbInput {
  composes: c__input;
  font-family: $base-font-family;
  font-size: map-get($font-size, h6);
}
