*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: $global-font-size;
}

body {
  color: $text-color;
  font-family: $base-font-family;
  font-feature-settings: "liga" 1,"kern" 1;
  font-kerning: normal;
  font-size: rem($base-font-size-sm);
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background-color: $body-background;
  min-width: map-get($container, min);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media-breakpoint-up(sm) {
    font-size: rem($base-font-size);
  }

  @include media-breakpoint-up(md) {
    font-size: rem($base-font-size-lg);
  }
}

input,
textarea {
  color: inherit;
}

textarea {
  resize: vertical;
}

img {
  display: block;
  width: 100%;
}
