@import "~styles/helpers";

.c__formBtn {
  @include ease(background-color, 0.2s, "ease-in");
  text-transform: uppercase;
  width: 100%;
  border-radius: em(2px);
  padding: em(14px);
  margin-bottom: em(10px);
}

.container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: em(480px);
  min-width: em(400px);
  padding: em(15px);
  min-height: em(200px);
  display: flex;
  justify-content: center;
}

.component {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

.content {
  padding: map-get($spacing, base);
  overflow-y: auto;
  background: $white;
}

.header {
  position: relative;
  background: $white;
  text-align: center;
  padding: em(20px) em(30px);
  box-shadow: 0 -1px 6px rgba($black, 0.12),
              0 -1px 4px rgba($black, 0.12);
}

.formTitle {
  margin: 0;
  line-height: 1;
}

.input {
  width: 100%;
  margin-bottom: em(10px);
  padding: em(14px);
  border: 1px solid map-get($gray, 300);
  transition: background-color .1s ease-in-out;
  border-radius: em(2px);

  &:focus {
    background-color: #f2f2f2;
  }
}

.primaryBtn {
  composes: c__formBtn;
  background-color: $base-color;
  box-shadow: inset 0 0 0 1px $base-color;

  &:hover {
    background-color: lighten($base-color, 5%);
    box-shadow: inset 0 0 0 1px lighten($base-color, 5%);
  }
}

.secondaryBtn {
  composes: c__formBtn;
  margin-bottom: 0;
  box-shadow: inset 0 0 0 1px #e8e8e8;

  &:hover {
    background-color: $accent-color;
    box-shadow: inset 0 0 0 1px $accent-color;
  }
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: em(25px);
  padding: em(8px) em(10px);
}
